@import 'variables';

@mixin tablet {
  @media (min-width: #{$tablet-bp}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-bp}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin glassmorphism {
  background: rgba(47, 39, 39, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 16px;
}
